/* Website by Muaz */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Galgo';
}
body{
  background: #1d1a31;
}

#header{
    background: url(/Images/Untitled\ design222.png);
    background-size: cover;
    /* background-position: center; */
    height: 100vh;
}

/* Nav */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
  }
  /* Logo */
  .logo {
    margin-right: auto;
    color: #DB5461;
    font-size: 50px;
    letter-spacing: 3px;
  }

  .glowing-outline {
    padding: 10px 40px;
    border: 3px solid transparent;
    position: relative;
    transition: 0.5s;
   }
   
   
   .glowing-outline:before, .glowing-outline:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid #00ffcc;
    box-shadow: 0 0 20px #00ffcc, 0 0 40px #00ffcc, 0 0 60px #00ffcc, 0 0 80px #00ffcc;
    opacity: 0;
    transition: 0.5s;
   }
   
   
   .glowing-outline:before {
    filter: blur(10px);
   }
   
   
   .glowing-outline:hover:before, .glowing-outline:hover:after {
    opacity: 1;
   }
   


  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #DB5461;
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #DB5461;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: #c43e4c;
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  .menu-img{
    width: 50px;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #1d1a31;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #DB5461;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
    #header{
      background: url(/Images/Untitled\ design.png);
      background-size: cover;
      background-position: center;
    }
    .home-intro{
      margin-left: 10%;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
    header{
      margin-bottom: 60%;
    }
    #header{
      background: url(/Images/Untitled\ design.png);
      background-size: cover;
      background-position: center;
    }
    .home-intro{
      margin-top: 300px;
      margin-left: 10%;
    }
  }


  /* Home Sectin*/

  .home-intro{
    margin-top: 7%;
    margin-right: 30%;
    font-size: 50px;
    text-align: center;
    color: #DB5461;
    letter-spacing: 3px;
  }
  .home-intro h1{
    font-size: 60px;
    color: #F7F3E3;
    /* margin-top: 20px; */
  }
  .home-intro p{
    font-size: 20px;
    margin-bottom: 0px;
    color: #F7F3E3;
  }
  .home-intro h1 span{
    font-family: 'Source sans 3' , sans-serif;
  }







  

/* General Styles */
.text{
    color: #ECF0F1;
    font-size: 10rem;
}
a:link{
    color: #ECF0F1;
}

/* Fonts */

@font-face {
    font-family: 'Galgo';
    src: url('fonts/Galgo.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }